@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

 * {
  padding: 0px;
  margin: 0px;
  font-family: "Mooli", sans-serif;

 }
 body {
  width: 100%;
  height: auto;
  background-color:#e4fbfb;
  overflow-x: hidden;
}