.main {
  width: 100%;
  height: auto;
}
.Haeder_container {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
.left_side {
  width: calc(50% - 10px);
  padding: 20px 30px;
}
.left_side_para {
  font-size: 35px;
  margin-bottom: 30px;
  font-weight: 500;
  color: #36454F;
}
.left_side_heading {
  font-size: 70px;
  margin-bottom: 30px;
  font-weight: 900;
  line-height: 75px;
  color: #0A56F1;
} 
.right_side {
  width: calc(50% -10px);
}
.btn {
  padding: 20px 30px;
  border-radius: 30px;
  font-size: 25px;
  font-weight: 400;
  background-color: #f78319;
  border: 1px solid #f78319;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;

}
.btn:hover {
  background-color: #fff;
  border: 1px solid #f78319;
  color: #0A56F1;
  
}

/* Section Css */
.Section_container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.Section_container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  list-style-type: disc;  
}
.Section_container ul li {
  padding: 10px;
  font-size: 30px;
  font-weight: 700;
  color: #0A56F1;
}
.para_div {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px 20px;
}
.para_div p {
  font-size: 25px;
  font-weight: 500;
  color: #36454F;
}
/* Polygon Css */

.Polygon {
  width: 80%;
  height: auto;
  margin: 40px auto;
}
/* AngileModal csss */
.AnglileModalContainer {
  width: 80%;
  height: auto;
  margin: 30px auto;
  background-color: #e4fbfb;
}
.AnglileModalContainer h3 {
  text-align: center;
  font-size: 75px;
  line-height: 112.5px;
  color: #0A56F1;
}

.background_img_container {
  width: 100%;
  height: auto;
  background-color: #f78319;
  background-image: url('https://s3-alpha-sig.figma.com/img/731c/f2c4/5ec9a2e7ef3f94384dcee82e279f368d?Expires=1710720000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=O61ZWH9Yw1pyOTRSbQL8-J18gHOwqFZptdJe~KStKedwDIf1bYURmJOlHBWvwf7vndf-fohmXcm681W8n4Dq~KcS5cg6-g8QNR7vhlN8RCM5~wnRLm2X7dkZsk3TdNEfAi1vjC1alN5MV8Q2ye6Za0nAPNhwTVQXyJQXU5DLQa8Q2sgHl-56lSYwBpllHIvNh1y5wNraGxKRaai6CMilwUXVsaqM7sbLHdejhSttqN2ceLuqZPZ~tf1ZPr2zFacU6qjwMFlMugubRFeD~jevxIijm3yE4XkJ6iSwTNThZOoxnuuUxNBU~i1~Ag4-aBn17O0yclbG7TgmojhHFuXAYw__');
  background-size: cover;
  margin: 30px 0px;
  padding: 40px 0px;
}
.ExpertTitle {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: 35px;
  line-height: 52.5px;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 700;
  color: #0A56F1;

}
.ExpertPara {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  text-align: center;
  line-height: 37.5px;
  margin-top: 20px;
  font-weight: 600;
  color: #36454F;
}
.buttonContainer {
  width: 50%;
  text-align: center;
  margin: 20px auto;
}
.buttonContainer button {
  padding: 20px 30px;
  border-radius: 30px;
  font-size: 25px;
  font-weight: 400;
  background-color: #f78319;
  border: 1px solid #f78319;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.buttonContainer button:hover {
  background-color: #fff;
  border: 1px solid #f78319;
  color: #0A56F1;
}

.wholeItemContainer {
  width: 80%;
  margin: 20px auto;
  
}

.wholeItemContainer h2 {
  font-size: 60px;
  line-height: 75px;
  height: 150px;
  margin: 30px 0px;
  color: #0A56F1;
}

.CardContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

.card {
  position: relative;
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e4fbfb;
  border-radius: 10px;
  cursor: pointer;
}

.card::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  z-index: -1;
  border-radius: 12px; /* slightly larger than main element */
  background-image: linear-gradient(180deg, #F78319 0%, #0A56F1 100%);
}

.card::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -2;
  border-radius: 14px; /* slightly larger than main element */
  background-image: linear-gradient(180deg, #F78319 0%, #0A56F1 100%);
}


.card p {
  text-align: center;
  width: 325px;
  height: 114px;
  margin-top: 20px;
  font-size: 25px;
  line-height: 37.5px;
  font-weight: 500;
  color:#36454F;

}
